<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SQLClueService.My.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SQLClueSvc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                  <!--<add name="FileLog"/>-->
                    <!-- Uncomment the below section to write to the Application Event Log -->
                  <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
          <!--<add name="FileLog" -->
          <!--type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" -->
          <!--initializeData="FileLogWriter"/> -->
                 <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
          <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
          <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="SQLClueSvc"/>
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SQLClueService.My.Settings>
            <setting name="Scripting__Options_Batch__Separator" serializeAs="String">
                <value>GO</value>
            </setting>
            <setting name="Misc_Ignore__Blank__Lines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Display__Output_Number__Script__Lines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_Server__Discovery__Scope" serializeAs="String">
                <value>Network</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Pattern_1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Replacement_2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_IgnoreCase_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_Multiline_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_ExplicitCapture_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_Compiled_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_RightToLeft_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_IgnorePatternWhiteSpace_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_SingleLine_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_ECMAScript_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_CultureInvariant_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Pattern_3" serializeAs="String">
                <value>\r\n|\n</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_IgnoreCase_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_Multiline_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_ExplicitCapture_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_Compiled_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_SingleLine_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_RightToLeft_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_IgnorePatternWhiteSpace_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_ECMAScript_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_CultureInvariant_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Pattern_4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_IgnoreCase_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_Multiline_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_ExplicitCapture_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_Compiled_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_SingleLine_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_RightToLeft_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_IgnorePatternWhiteSpace_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_ECMAScript_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_CultureInvariant_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AllowSystemObjects_10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AnsiFile_20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AnsiPadding_30" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_Bindings_40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ClusteredIndexes_50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ContinueScriptingOnError_60" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ConvertUserDefinedDataTypesToBaseType_70" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DdlBodyOnly_80" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DdlHeaderOnly_90" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Default_100" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriAll_110" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriAllConstraints_120" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriAllKeys_130" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriChecks_140" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriClustered_150" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriDefaults_160" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriForeignKeys_170" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriIncludeSystemNames_180" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriIndexes_190" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriNonClustered_200" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriPrimaryKey_210" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriUniqueKeys_220" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriWithNoCheck_230" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_EnforceScriptingOptions_250" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_FullTextCatalogs_270" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_FullTextindexes_280" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeDatabaseContext_290" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeHeaders_300" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Indexes_310" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_LoginSID_320" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoAssemblies_330" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoCollation_340" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoCommandTerminator_350" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoExecuteAs_360" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoFilegroup_370" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoIdentities_380" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoIndexPartitioningSchemes_390" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoMailProfileAccounts_400" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoMailProfilePrincipals_410" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NonClusteredIndexes_420" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoTablePartitioningSchemes_430" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoViewColumns_440" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoXMLNameSpaces_450" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_OptimizerData_460" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Permissions_470" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_PrimaryObject_480" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_SchemaQualify_490" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_SchemaQualifyForeignKeysReferences_500" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_Statistics_510" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_TimestampToBinary_520" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Triggers_540" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_WithDependencies_550" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_XMLIndexes_560" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Server__Discovery__Enum" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Network</string>
                        <string>Local</string>
                        <string>None</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Scripting__Options_SMO_ExtendedProperties_260" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Encoding_240" serializeAs="String">
                <value/>
            </setting>
            <setting name="SQL__Instance__B_SQL__Login__Password_4" serializeAs="String">
                <value/>
            </setting>
            <setting name="SQL__Instance__A_SQL__Login__Password_4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Misc_Display__Output_Show__Comparison__Details" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_Display__Output_Show__Differences__Only" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsDirty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryInstanceName" serializeAs="String">
                <value>BILL64</value>
            </setting>
            <setting name="RepositorySQLLoginName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositorySQLLoginPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositoryDatabaseName" serializeAs="String">
                <value>SQLConfigurationRepository</value>
            </setting>
            <setting name="RepositoryConnectionTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RepositoryUseTrustedConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LicensedCompany" serializeAs="String">
                <value/>
            </setting>
            <setting name="LicensedUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="LicenseCode" serializeAs="String">
                <value>Unlicensed Trial Software</value>
            </setting>
            <setting name="LicensedInstanceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LicenseDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="Misc_Origin__Enum" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SQLInstance</string>
                        <string>RepositoryLatest</string>
                        <string>RepositoryByDate</string>
                        <string>RepositoryByLabel</string>
                        <string>RepositoryItemByVersion</string>
                        <string>File</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Scripting__Options_Include__DROP__In__Script" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_Include__IF__EXISTS__With__Drop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Display__Output_Show__Object__Name__on__Script__Lines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AgentAlertJob_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AgentJobId_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AgentNotify_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeDatabaseRoleMemberships_291" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeIfNotExists_301" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoVarDecimal_431" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_Display__Output_Show__Scripts__For__Unmatched__Items" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryPasswordEncryptionCertificate" serializeAs="String">
                <value>ArchiveUsers</value>
            </setting>
            <setting name="RepositoryPasswordEncryptionKey" serializeAs="String">
                <value>PasswordKey</value>
            </setting>
            <setting name="RepositoryUseEncryptedConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryTrustServerCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryNetworkProtocol" serializeAs="String">
                <value>SharedMemory</value>
            </setting>
            <setting name="TargetEventNotificationDatabase" serializeAs="String">
                <value>msdb</value>
            </setting>
            <setting name="instScript" serializeAs="String">
                <value>instSQLClue.sql</value>
            </setting>
            <setting name="instDDLEventNotifications" serializeAs="String">
                <value>instSQLClueDDLEventNotifications.sql</value>
            </setting>
            <setting name="instPasswordEncryption" serializeAs="String">
                <value>instSQLCluePasswordEncryptionKey.sql</value>
            </setting>
            <setting name="uninstDDLEventNotifications" serializeAs="String">
                <value>uninstSQLClueDDLEventNotifications.sql</value>
            </setting>
            <setting name="RepositoryNetworkLibrary" serializeAs="String">
                <value/>
            </setting>
        </SQLClueService.My.Settings>
    </applicationSettings>
    <userSettings>
        <SQLClueSvc.My.MySettings>
            <setting name="RepositoryConnectionTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RepositoryDatabaseName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositoryInstanceName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositoryUseTrustedConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryEncryptConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryTrustServerCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositorySQLLoginName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositorySQLLoginPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositoryNetworkLibrary" serializeAs="String">
                <value/>
            </setting>
            <setting name="RunbookConnectionTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RepositoryEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookDatabaseName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RunbookEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookEncryptConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookInstanceName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RunbookNetworkLibrary" serializeAs="String">
                <value/>
            </setting>
            <setting name="RunbookSQLLoginName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RunbookSQLLoginPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="RunbookTrustServerCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookUseTrustedConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxConcurrentArchives" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DocumentMonitorSleepSeconds" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="WaitBetweenDocumentsSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetHandshakeConnectionTimeout" serializeAs="String">
                <value>0</value>
            </setting>
        </SQLClueSvc.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
