<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SQLClue.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SQLClue.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SQLClue.My.MySettings.DDLEventQueueConnectionString"
            connectionString="Data Source=.\EEEVAL;Initial Catalog=msdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLClue.My.MySettings.SQLCfgConnectionString" connectionString="Data Source=.Initial Catalog=SQLClue;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLClue.My.MySettings.TargetConnectionString" connectionString="Data Source=.;Initial Catalog=SQLClue;Integrated Security=True" />
        <add name="SQLClue.My.MySettings.RunbookConnectionString" connectionString="Data Source=.;Initial Catalog=SQLClue;Integrated Security=True" />
        <add name="SQLClue.My.MySettings.SQLClueConnectionString" connectionString="Data Source=.;Initial Catalog=SQLClue;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SQLClue.My.MySettings>
            <setting name="RepositorySQLLoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositorySQLLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryDatabaseName" serializeAs="String">
                <value>SQLClue</value>
            </setting>
            <setting name="LicensedCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="LicensedUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseCode" serializeAs="String">
                <value>Open Source</value>
            </setting>
            <setting name="RepositoryPasswordEncryptionCertificate" serializeAs="String">
                <value>ArchiveUsers</value>
            </setting>
            <setting name="RepositoryPasswordEncryptionKey" serializeAs="String">
                <value>PasswordKey</value>
            </setting>
            <setting name="TargetEventNotificationDatabase" serializeAs="String">
                <value>msdb</value>
            </setting>
            <setting name="Scripting__Options_Batch__Separator" serializeAs="String">
                <value>GO</value>
            </setting>
            <setting name="SQL__Instance__A_Name_1" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Instance__A_SQL__Login__Name_3" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Instance__B_Name_1" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Instance__B_SQL__Login__Name_3" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDiscoveryScope" serializeAs="String">
                <value>Local</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Pattern_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Regular__Expressions_LineReplace__Replacement_2"
                serializeAs="String">
                <value />
            </setting>
            <setting name="Regular__Expressions_LineSplit__Pattern_3" serializeAs="String">
                <value>\r\n|\n</value>
            </setting>
            <setting name="Scripting__Options_SMO_Encoding_240" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Instance__B_SQL__Login__Password_4" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Instance__A_SQL__Login__Password_4" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__A_Filters_Label" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__B_Filters_Label" serializeAs="String">
                <value />
            </setting>
            <setting name="Regular__Expressions_LineReplace_AutoComplete__Patterns"
                serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>(\[?)(\]?)(?# match square brackets to unbracketed - OK to use null string for a replacement)</string>
                        <string>(?:ServerName1|ServerName2)(?# match specified literal - use a replacement such as "LocalServer" rather than blank)</string>
                        <string>(\s+)(?# match inline whitespace - use null string or blank for a replacement)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Regular__Expressions_LineSplit_AutoComplete__Patterns"
                serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\r\n(?# carriage return + line feed)</string>
                        <string>\n(?# carriage return)</string>
                        <string>\n|\r\n(?#both carriage return and carriage return + line feed)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Regular__Expressions_LineReplace_AutoComplete__Replacements"
                serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>$2 $1(?# replace the second search match with the first)</string>
                        <string>ServerName(?# replace specific server names with a generic literal)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Regular__Expressions_NameMatch_AutoComplete__Patterns"
                serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>test(?# all names containing the text "test")</string>
                        <string>~(^*test$)(?# do not match names that end with "test")</string>
                        <string>(^*test$|^*$)(?# match names whether or not they end with "test")</string>
                        <string>(\[?)dbo(\]?)(.)(?# all names starting with "dbo." with or without square brackets)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RepositoryInstanceName" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseDate" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryConnectionTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LicensedInstanceCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Misc_Ignore__Blank__Lines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Display__Output_Number__Script__Lines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQL__Instance__A_Connection__Timeout_5" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SQL__Instance__A_Use__Trusted__Connection_2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQL__Instance__B_Connection__Timeout_5" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SQL__Instance__B_Use__Trusted__Connection_2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_IgnoreCase_5"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_Multiline_7"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_ExplicitCapture_4"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_Compiled_1"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_RightToLeft_8"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_IgnorePatternWhiteSpace_6"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_SingleLine_9"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_ECMAScript_3"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineReplace__Regex__Options_CultureInvariant_2"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_IgnoreCase_5"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_Multiline_7"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_ExplicitCapture_4"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_Compiled_1"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_SingleLine_9"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_RightToLeft_8"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_IgnorePatternWhiteSpace_6"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_ECMAScript_3"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_LineSplit__Regex__Options_CultureInvariant_2"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_IgnoreCase_5"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Pattern_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_Multiline_7"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_ExplicitCapture_4"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_Compiled_1"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_SingleLine_9"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_RightToLeft_8"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_IgnorePatternWhiteSpace_6"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_ECMAScript_3"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regular__Expressions_NameMatch__Regex__Options_CultureInvariant_2"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AllowSystemObjects_10"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AnsiFile_20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AnsiPadding_30" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_Bindings_40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ClusteredIndexes_50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ContinueScriptingOnError_60"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ConvertUserDefinedDataTypesToBaseType_70"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DdlBodyOnly_80" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DdlHeaderOnly_90" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Default_100" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriAll_110" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriAllConstraints_120"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriAllKeys_130" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriChecks_140" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriClustered_150" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriDefaults_160" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriForeignKeys_170" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriIncludeSystemNames_180"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriIndexes_190" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriNonClustered_200" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriPrimaryKey_210" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriUniqueKeys_220" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_DriWithNoCheck_230" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_EnforceScriptingOptions_250"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_FullTextCatalogs_270" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_FullTextindexes_280" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeDatabaseContext_290"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeHeaders_300" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Indexes_310" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_LoginSID_320" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoAssemblies_330" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoCollation_340" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoCommandTerminator_350"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoExecuteAs_360" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoFilegroup_370" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoIdentities_380" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoIndexPartitioningSchemes_390"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoMailProfileAccounts_400"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoMailProfilePrincipals_410"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NonClusteredIndexes_420"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoTablePartitioningSchemes_430"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoViewColumns_440" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoXMLNameSpaces_450" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_OptimizerData_460" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Permissions_470" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_PrimaryObject_480" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_SchemaQualify_490" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_SchemaQualifyForeignKeysReferences_500"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_Statistics_510" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_TimestampToBinary_520"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_Triggers_540" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_WithDependencies_550" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_XMLIndexes_560" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_ExtendedProperties_260"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_Display__Output_Show__Comparison__Details"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Display__Output_Show__Differences__Only"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsDirty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_Include__DROP__In__Script"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_Include__IF__EXISTS__With__Drop"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Display__Output_Show__Object__Name__on__Script__Lines"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AgentAlertJob_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AgentJobId_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_AgentNotify_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeDatabaseRoleMemberships_291"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeIfNotExists_301"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoVardecimal_431" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_Display__Output_Show__Scripts__For__Unmatched__Items"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQL__Instance__A_Encrypted__Connection_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL__Instance__A_Trust__Server__Certificate_7"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL__Instance__B_Encrypted__Connection_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL__Instance__B_Trust__Server__Certificate_7"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryTrustServerCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryEncryptConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryNetworkLibrary" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryUseTrustedConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunbookConnectionTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RunbookDatabaseName" serializeAs="String">
                <value>SQLClue</value>
            </setting>
            <setting name="RunbookEncryptConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookNetworkLibrary" serializeAs="String">
                <value />
            </setting>
            <setting name="RunbookSQLLoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="RunbookSQLLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RunbookTrustServerCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookUseTrustedConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepositoryEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookInstanceName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Instance__B_Network__Protocol_8" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Instance__A_Network__Protocol_8" serializeAs="String">
                <value />
            </setting>
            <setting name="rdlcPath" serializeAs="String">
                <value>/ReportViewerReports</value>
            </setting>
            <setting name="alterRepository" serializeAs="String">
                <value>SQLScripts\alterSQLClueRepository.sql</value>
            </setting>
            <setting name="alterRunbook" serializeAs="String">
                <value>SQLScripts\alterSQLClueRunbook.sql</value>
            </setting>
            <setting name="uninstPasswordEncryption" serializeAs="String">
                <value>SQLScripts\unintSQLCluePasswordEncryptionKey.sql</value>
            </setting>
            <setting name="ServiceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="LastHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LastWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQL__Repository__A_Connection__Timeout_7" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SQL__Repository__B_Connection__Timeout_7" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SQL__Repository__A_Encrypted__Connection_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL__Repository__B_Encrypted__Connection_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL__Repository__A_Name_1" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__B_Name_1" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__A_Network__Protocol_9" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__B_Network__Protocol_9" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__A_SQL__Login__Name_4" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__B_SQL__Login__Name_4" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__A_SQL__Login__Password_5" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__B_SQL__Login__Password_5" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__A_Trust__Server__Certificate_8"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL__Repository__B_Trust__Server__Certificate_8"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQL__Repository__A_Use__Trusted__Connection_3"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQL__Repository__B_Use__Trusted__Connection_3"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQL__Repository__A_Database__Name_2" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL__Repository__B_Database__Name_2" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRunbookInstanceName" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRunbookDatabaseName" serializeAs="String">
                <value>SQLClue</value>
            </setting>
            <setting name="RemoteRunbookUseTrustedConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteRunbookTrustServerCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteRunbookSQLLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRunbookSQLLoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRunbookNetworkLibrary" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRunbookEncryptConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteRunbookConnectionTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Scripting__Options_SMO_BatchSize_35" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Scripting__Options_SMO_ChangeTracking_45" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_FullTextStopLists_285"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_IncludeFullTextCatalogRootPath_295"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoFileStream_373" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_NoFileStreamColumn_376"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ScriptSchema_509" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_ScriptOwner_508" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_ScriptDrops_506" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ScriptDataCompression_505"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripting__Options_SMO_ScriptData_503" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scripting__Options_SMO_ScriptBatchTerminator_502"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysStartService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceTimerIntervalSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DocumentMonitorSleepSeconds" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="WaitBetweenDocumentsSeconds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RunbookCategoriesMultiColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunbookCategoryLocked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rdlLocation" serializeAs="String">
                <value>/ReportServerScripts</value>
            </setting>
            <setting name="CompareResultsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CompareResultsToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Display__Output_To_HTML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Display__Output_HTML_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetHandshakeConnectionTimeout" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ComponentDBSizeInMB" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Rating0" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Rating1" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="Rating2" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Rating3" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="Rating4" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Rating5" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Rating6" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Rating7" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CompareOutputHeaderText" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="CompareOutputHeaderBackground" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="CompareOutputBodyText" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="CompareOutputBodyBackground" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="CompareOutputDifferentText" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="CompareOutputDifferentBackground" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
            <setting name="CompareOutputNoMatchText" serializeAs="String">
                <value>HighlightText</value>
            </setting>
            <setting name="CompareOutputNoMatchBackground" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="SQL__Repository__B_Filters_Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQL__Repository__A_Filters_Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArchiveErrorsDaysToShow" serializeAs="String">
                <value>60</value>
            </setting>
        </SQLClue.My.MySettings>
    </userSettings>
    <applicationSettings>
        <SQLClue.My.MySettings>
            <setting name="instRepository" serializeAs="String">
                <value>SQLScripts\instSQLClueRepository.sql</value>
            </setting>
            <setting name="instDDLEventNotifications" serializeAs="String">
                <value>SQLScripts\instSQLClueDDLEventNotifications.sql</value>
            </setting>
            <setting name="instPasswordEncryption" serializeAs="String">
                <value>SQLScripts\instSQLCluePasswordEncryptionKey.sql</value>
            </setting>
            <setting name="uninstDDLEventNotifications" serializeAs="String">
                <value>SQLScripts\uninstSQLClueDDLEventNotifications.sql</value>
            </setting>
            <setting name="Misc_Origin__Enum" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SQLInstance</string>
                        <string>Repository</string>
                        <string>FileFolder</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="uninstRepository" serializeAs="String">
                <value>SQLScripts\uninstSQLClueRepository.sql</value>
            </setting>
            <setting name="instRunbook" serializeAs="String">
                <value>SQLScripts\instSQLClueRunbook.sql</value>
            </setting>
            <setting name="NetworkLibraries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string>dbnmpntw (Named Pipes) </string>
                        <string>dbmsadsn (AppleTalk)</string>
                        <string>dbmsgnet (VIA)</string>
                        <string>dbmslpcn (Shared Memory)</string>
                        <string>dbmsrpcn (Multiprotocol)</string>
                        <string>dbmssocn (TCP/IP)</string>
                        <string>dbmsspxn (IPX/SPX)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="uninstRunbook" serializeAs="String">
                <value>SQLScripts\uninstSQLClueRunbook.sql</value>
            </setting>
            <setting name="HelpRoot" serializeAs="String">
                <value>Help\home.htm</value>
            </setting>
            <setting name="uninstSQLClue" serializeAs="String">
                <value>SQLScripts\uninstSQLClue.sql</value>
            </setting>
            <setting name="RunbookDateFormat" serializeAs="String">
                <value>dd MMM yyyy HH:mm:ss:fff</value>
            </setting>
        </SQLClue.My.MySettings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="SQLClue.WCFServiceReportServerBehavior">
     <serviceMetadata httpGetEnabled="true"/>
     <serviceDebug includeExceptionDetailInFaults="false"/>
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <services>
   <service behaviorConfiguration="SQLClue.WCFServiceReportServerBehavior" name="SQLClue.WCFServiceReportServer">
    <endpoint address="" binding="wsHttpBinding" contract="SQLClue.IWCFServiceReportServer">
     <identity>
      <dns value="localhost"/>
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8731/Design_Time_Addresses/SQLClue/WCFServiceReportServer/"/>
     </baseAddresses>
    </host>
   </service>
  </services>
  <bindings>
   <basicHttpBinding>
    <binding name="ReportingServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost/ReportServer/ReportService.asmx" binding="basicHttpBinding" bindingConfiguration="ReportingServiceSoap" contract="ServiceReference1.ReportingServiceSoap" name="ReportingServiceSoap"/>
  </client>
 </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
